* {
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding-top: 80px;
  max-width: 1200px;
}

.gallery-image {
  width: 360px;
  height: 200px;
  box-shadow: inset 0 -3em 3em rgb(0 200 0 / 30%), 0 0 0 2px white,
    0.3em 0.3em 1em rgba(3, 228, 228, 0.6);
  border-radius: 20px;
}

.gallery-item {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.05);
}

.sl-wrapper {
  background-color: rgba(46, 47, 66, 0.8);
}

.loader {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #fff;
  border-color: #de3500;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  animation: 3s yinYang linear infinite;
}

.loader:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  background: #fff;
  border: 18px solid #de3500;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

.loader:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  background: #de3500;
  border: 18px solid #fff;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  box-sizing: content-box;
}

@keyframes yinYang {
  100% {
    transform: rotate(360deg);
  }
}

.gallery-stats-list {
  display: flex;
}

.hidden {
  display: none;
}

.gallery-stats-list {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto;
  gap: 6px 28px;
  text-align: center;
  padding: 8px 20px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.title {
  font-weight: 600;
  line-height: 1.33;
  margin-top: 10px;
}

.numbers {
  font-weight: 400;
  line-height: 2;
  margin: 0;
}

.form input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 272px;
  height: 40px;
  outline: none;
  margin-top: 100px;
}

.form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.form input[placeholder] {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #808080;
}

.form input:focus::placeholder {
  color: transparent;
}

.form input:focus {
  border: 1px solid #4e75ff;
}

.form input:hover {
  border: 1px solid #000;
}

.form button:hover,
.form button:focus {
  background-color: #6c8cff;
}

body .iziToast > .iziToast-close {
  background: url(/img/close.svg) no-repeat 50% 50%;
}

body .iziToast > .iziToast-body .iziToast-icon.ico-info {
  background: url(/img/info.svg) no-repeat 50% 50%;
}
